<div class="getstarted">
    <div class="getstarted__inner">
        <div class="getstarted__content">
            <div class="getstarted__heading">
                More than just shorter links
            </div>
            <span class="getstarted__tagline">
                Build your brand’s recognition and get detailed insights
                on how your links are performing.
            </span>
            <div class="getstarted__button">
                Get Started
            </div>
        </div>
    </div>
    <div class="getstarted__image">
        <img src="../../assets/images/illustration-working.svg" alt="">
    </div>
</div>