<nav class="navigation">
    <div class="navigation__inner">

        <ul class="navigation__links">
            <ul class="navigation__links-left">
                <li class="navigation__links-item"><a class="navigation__links-link" href="/"><img
                            src="../../assets/images/logo.svg" alt=""></a></li>
                <li class="navigation__links-item"><a class="navigation__links-link" href="/">Features</a></li>
                <li class="navigation__links-item"><a class="navigation__links-link" href="/">Pricing</a></li>
                <li class="navigation__links-item"><a class="navigation__links-link" href="/"> Resources</a></li>
            </ul>

            <div class="navigation__links-right">
                <li class="navigation__links-item"><a class="navigation__links-link" href="/">Login</a></li>
                <li class="navigation__links-item"><a class="navigation__links-link" href="/">Sign Up</a></li>
            </div>

         
        </ul>

    </div>
</nav>