<div class="statistics">
    <div class="statistics__inner">
        <div class="statistics__input">
            <div class="statistics__input-inner">
                <input type="text" placeholder="Shorten a link here..." class="statistics__url">
                <button class="statistics__submit">Shorten It!</button>
            </div>
            <p class="statistics__input-message" >Please enter the link</p>

        </div>
        <div class="statistics__header">
            <div class="statistics__heading">Advanced Statistics</div>
            <p class="statistics__line">Track how your links are performing across the web with our
                advanced statistics dashboard.</p>
        </div>
        <div class="statistics__container">
            <div class="statistics__cards">
                <div class="statistics__cards-inner">
                    <a href="" class="statistics__link">
                        <img src="../../assets/images/icon-brand-recognition.svg" alt="" class="statistics__logo">
                    </a>
                    <div class="statistics__name">Brand Recognition</div>
                    <div class="statistics__details">
                        Boost your brand recognition with each click. Generic links don’t
                        mean a thing. Branded links help instil confidence in your content.
                    </div>
                </div>

            </div>
            <div class="statistics__cards">

                <div class="statistics__cards-inner">
                    <a class="statistics__link">
                        <img src="../../assets/images/icon-detailed-records.svg" alt="" class="statistics__logo">
                    </a>
                    <div class="statistics__name">Detailed Records</div>
                    <div class="statistics__details">
                        Gain insights into who is clicking your links. Knowing when and where
                        people engage with your content helps inform better decisions.
                    </div>
                </div>


            </div>
            <div class="statistics__cards">
                <div class="statistics__cards-inner">
                    <a class="statistics__link">
                        <img src="../../assets/images/icon-fully-customizable.svg" alt="" class="statistics__logo">
                    </a>
                    <div class="statistics__name">Fully Customizable</div>
                    <div class="statistics__details">
                        Improve brand awareness and content discoverability through customizable
                        links, supercharging audience engagement.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>